@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Light"; 
  src: local("JetBrainsMono-Light"),
    url("./src/assets/fonts/JetBrainsMono-Light.ttf") format("truetype");
}
@font-face {
  font-family: "ExtraBold"; 
  src: local("JetBrainsMono-ExtraBold"),
    url("./src/assets/fonts/JetBrainsMono-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Bold"; 
  src: local("JetBrainsMono-Bold"),
    url("./src/assets/fonts/JetBrainsMono-Bold.ttf") format("truetype");
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  scroll-behavior: smooth;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'JetBrains Mono', monospace;
}

#text-div h2{
  font-family: 'Light';
}

#brazil {
  font-family: Bold;
  background: -webkit-linear-gradient(yellow, rgb(0, 255, 115));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
  background-color: #090015;
}

::-webkit-scrollbar-thumb {
  background: #2F2E41;
  border: 3px solid transparent;
  transition: all 2s ease-in-out;
}